@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-BlackItalic.eot');
    src: local('Rotunda Black Italic'), local('Rotunda-BlackItalic'),
        url('Rotunda-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-BlackItalic.woff2') format('woff2'),
        url('Rotunda-BlackItalic.woff') format('woff'),
        url('Rotunda-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Extra';
    src: url('Rotunda-ExtraBoldItalic.eot');
    src: local('Rotunda Extra Bold Italic'), local('Rotunda-ExtraBoldItalic'),
        url('Rotunda-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-ExtraBoldItalic.woff2') format('woff2'),
        url('Rotunda-ExtraBoldItalic.woff') format('woff'),
        url('Rotunda-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Bold.eot');
    src: local('Rotunda Bold'), local('Rotunda-Bold'),
        url('Rotunda-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Bold.woff2') format('woff2'),
        url('Rotunda-Bold.woff') format('woff'),
        url('Rotunda-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Hairline';
    src: url('Rotunda-HairlineItalic.eot');
    src: local('Rotunda Hairline Italic'), local('Rotunda-HairlineItalic'),
        url('Rotunda-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-HairlineItalic.woff2') format('woff2'),
        url('Rotunda-HairlineItalic.woff') format('woff'),
        url('Rotunda-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-RegularItalic.eot');
    src: local('Rotunda Italic'), local('Rotunda-RegularItalic'),
        url('Rotunda-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-RegularItalic.woff2') format('woff2'),
        url('Rotunda-RegularItalic.woff') format('woff'),
        url('Rotunda-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-LightItalic.eot');
    src: local('Rotunda Light Italic'), local('Rotunda-LightItalic'),
        url('Rotunda-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-LightItalic.woff2') format('woff2'),
        url('Rotunda-LightItalic.woff') format('woff'),
        url('Rotunda-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Italic Variable Font';
    src: url('RotundaVariable-RegularItalic.eot');
    src: local('Rotunda Italic Variable Font'), local('RotundaVariable-RegularItalic'),
        url('RotundaVariable-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('RotundaVariable-RegularItalic.woff2') format('woff2'),
        url('RotundaVariable-RegularItalic.woff') format('woff'),
        url('RotundaVariable-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Black.eot');
    src: local('Rotunda Black'), local('Rotunda-Black'),
        url('Rotunda-Black.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Black.woff2') format('woff2'),
        url('Rotunda-Black.woff') format('woff'),
        url('Rotunda-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Hairline';
    src: url('Rotunda-Hairline.eot');
    src: local('Rotunda Hairline'), local('Rotunda-Hairline'),
        url('Rotunda-Hairline.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Hairline.woff2') format('woff2'),
        url('Rotunda-Hairline.woff') format('woff'),
        url('Rotunda-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-BoldItalic.eot');
    src: local('Rotunda Bold Italic'), local('Rotunda-BoldItalic'),
        url('Rotunda-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-BoldItalic.woff2') format('woff2'),
        url('Rotunda-BoldItalic.woff') format('woff'),
        url('Rotunda-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Extra';
    src: url('Rotunda-ExtraBold.eot');
    src: local('Rotunda Extra Bold'), local('Rotunda-ExtraBold'),
        url('Rotunda-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-ExtraBold.woff2') format('woff2'),
        url('Rotunda-ExtraBold.woff') format('woff'),
        url('Rotunda-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-MediumItalic.eot');
    src: local('Rotunda Medium Italic'), local('Rotunda-MediumItalic'),
        url('Rotunda-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-MediumItalic.woff2') format('woff2'),
        url('Rotunda-MediumItalic.woff') format('woff'),
        url('Rotunda-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Thin.eot');
    src: local('Rotunda Thin'), local('Rotunda-Thin'),
        url('Rotunda-Thin.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Thin.woff2') format('woff2'),
        url('Rotunda-Thin.woff') format('woff'),
        url('Rotunda-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Medium.eot');
    src: local('Rotunda Medium'), local('Rotunda-Medium'),
        url('Rotunda-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Medium.woff2') format('woff2'),
        url('Rotunda-Medium.woff') format('woff'),
        url('Rotunda-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Regular.eot');
    src: local('Rotunda'), local('Rotunda-Regular'),
        url('Rotunda-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Regular.woff2') format('woff2'),
        url('Rotunda-Regular.woff') format('woff'),
        url('Rotunda-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-ThinItalic.eot');
    src: local('Rotunda Thin Italic'), local('Rotunda-ThinItalic'),
        url('Rotunda-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-ThinItalic.woff2') format('woff2'),
        url('Rotunda-ThinItalic.woff') format('woff'),
        url('Rotunda-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda';
    src: url('Rotunda-Light.eot');
    src: local('Rotunda Light'), local('Rotunda-Light'),
        url('Rotunda-Light.eot?#iefix') format('embedded-opentype'),
        url('Rotunda-Light.woff2') format('woff2'),
        url('Rotunda-Light.woff') format('woff'),
        url('Rotunda-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rotunda Variable Font';
    src: url('RotundaVariable-Regular.eot');
    src: local('Rotunda Variable Font'), local('RotundaVariable-Regular'),
        url('RotundaVariable-Regular.eot?#iefix') format('embedded-opentype'),
        url('RotundaVariable-Regular.woff2') format('woff2'),
        url('RotundaVariable-Regular.woff') format('woff'),
        url('RotundaVariable-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    max-height: 100vh;
    background: url('/assets/images/bg/login.svg');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

.box-container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 671px;
    height: 661px;
    box-sizing: border-box;
    padding: 48px 48px 0;
    background: linear-gradient(180deg, #296C96 -19%, #FFF 76%);
    border-radius: 20px;

    font-family: 'Rotunda';
    color: white;
}

.box-container .title h1 {
    font-family: 'Rotunda';
    line-height: 70%;
    font-size: 46px;
    font-weight: bold;
}
.box-container .title h3 {
    font-weight: 500;
    font-size: 32px;
}

.box-container form {
    margin-top: 58px;
    color: black;
}

.box-container form .input-placeholder {
    display: flex;
    flex-direction: column;

}

.box-container form .input-placeholder label {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.box-container form .input-placeholder input {
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 13px 14px;
    width: 100%;
}

input[type=email]:focus, input[type=password]:focus{
    outline: 2px solid #3d3d3d;
}

.box-container form .input-placeholder .password {
    position: relative;
}

.box-container form .input-placeholder .bi {
    font-size: 26px;
    position: absolute;
    transform: translateY(-50%);
    top: 47%;
    right: 13px;
}

.box-container form .input-placeholder a {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
    color: #474747;
    transition: 0.175s all;
}
.box-container form .input-placeholder a:hover {
    color: #f7538f;
}

.box-container form button {
    margin-top: 20px;
    border-style: none;
    border: none;
    border-radius: 10px;
    background: #568BAC;
    padding: 10px 85px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2.5px;
    color: white;
    cursor: pointer;
}

